.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16rem;
}
.projects-wrapper p {
  margin: 0;
}
.projects-title {
  font-family: 'Pacifico', cursive;
  font-size: 9rem;
  line-height: normal;
  text-align: center;
  color: #0000;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: -webkit-gradient( linear, left top, right top, from(rgba(94, 114, 235, 1)), color-stop(56%, rgba(255, 145, 144, 1)), to(rgba(254, 193, 149, 1)) );
  background-image: -o-linear-gradient( left, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100% );
  background-image: linear-gradient( 90deg, rgba(94, 114, 235, 1) 0%, rgba(255, 145, 144, 1) 56%, rgba(254, 193, 149, 1) 100% );
  margin-bottom: 2rem;
}

.projects-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0,1fr);
  grid-template-columns: repeat(1,minmax(0,1fr));
  gap: 2.5rem;
}
.project-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0,1fr) 2.5rem minmax(0,1fr);
  grid-template-columns: repeat(2,minmax(0,1fr));
  padding: 2rem;
  background-image: -o-linear-gradient(330deg, #81d0ec, #b1dbe9);
  background-image: linear-gradient(120deg, #81d0ec, #b1dbe9);
  background-size: cover;
  gap: 2.5rem;
}
.project-card-img {
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-card-img-dark {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
.project-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.project-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5rem;
}
.project-intro .project-title {
  padding-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.project-intro .project-desc {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 0.5rem;
}
.project-intro .project-time {
  font-size: .875rem;
  line-height: 1.25rem;
  padding-bottom: 0.5rem;

}
.project-time-light {
  color: #374151;
}
.project-time-dark {
  color: hsla(0,100%,97%,.808);;
}
.project-frameworks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.project-frameworks .framework {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project-frameworks .framework .text-projecs-arrow {
  width: 1.25rem;
  margin-right: 0.75rem;
}
.project-frameworks .framework p {
  line-height: 1.75rem;
  font-size: 15px;
}
.project-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .875rem;
}
.project-buttons > * + * {
  margin-left: 1rem;
}
.project-dark {
  color: white;
}
.project-buttons .externalLinkButton-wrapper {
  border: 1px solid var(--external-btn-border);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: black;
}
.externalLinkButton-wrapper-dark {
  border: 1px solid var(--external-btn-border);
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: white;
}
.externalLinkButton-button {
  cursor: pointer;
  background-color: initial;
  border: none;
  color: black;
}
.externalLinkButton-buttonDark {
  cursor: pointer;
  background-color: initial;
  border: none;
  color: white;
}
.externalLinkButton-buttonContent {
  position: relative;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.arrow-animation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.externalLinkButton-Icon {
  position: absolute;
  transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  opacity: 0;
  left: 0rem;
}
.externalLinkButton-wrapper:hover .externalLinkButton-Icon {
  opacity: 1;
  left: 0.3rem;
}
.externalLinkButton-wrapper:hover .externalLinkButton-buttonContent {
  transform: translate3d(-5px, 0, 0);
  -webkit-transform: translate3d(-5px, 0, 0);
  -o-transform: translate3d(-5px, 0, 0);
  -moz-transform: translate3d(-5px, 0, 0);
  padding-right: 0.5rem;
}
.disabled-wrapper {
  pointer-events: none;
  border: 1px solid var(--external-btn-border);
  padding: 0.5rem 0.75rem;
  color: grey;
}
.disabled-button {
  color: grey;
  border: none;
  background-color: initial;
}
/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .projects-wrapper {
    margin-top: 4rem;
  }
  .projects-title {
    font-size: 2.5rem;
  }
  .project-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-card-img {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/* Responsive Mobile Small 2 */
@media only screen and (max-width: 384px){
  .projects-title {
    font-size: 2rem;
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .projects-wrapper {
    margin-top: 4rem;
  }
  .projects-title {
    font-size: 6rem;
  }
}
/* Responsive Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px){
  .projects-title {
    font-size: 7rem;
  }
}
