.sound-music {
  position: fixed;
  left: 2rem;
  bottom: 1.5rem;
  width: 12rem;
  height: 30px;
  display: flex;
  gap: 0.5rem;
  z-index: 1;
}
.chooseOptions, .chooseOptions_dark {
  animation: scale-icon 1s ease-out infinite;
}
.chooseOptions img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.chooseContent {
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.05rem;
  border-radius: 10px;
  padding: 0 0.5rem;
}
.lightChoose {
  background: var(--nav-color-main);
}
.darkChoose {
  background: var(--nav-color-dark);
}
.chooseContent div {
  animation: text-chill 1.4s ease infinite;
}
@keyframes text-chill {
  0% , 100%{
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes scale-icon {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .sound-music {
    left: 1rem;
  }
}
/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .chooseOptions_dark img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    padding: 4px;
  }
}