.scroll-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.scroll-light {
  border: 3px solid black;
  color: black;
}
.scroll-dark {
  border: 3px solid white;
  background-color: white;
  color: white;
}

.scroll-icon {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scrollTop 0.5s alternate ease infinite;
          animation: scrollTop 0.5s alternate ease infinite;
}
@-webkit-keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
@keyframes scrollTop {
  from {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  to {
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .scroll-to-top {
    right: 1.5  rem;
  }
}
