.scroll-to-top {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}
.scroll-light {
  border: 3px solid black;
  color: black;
}
.scroll-dark {
  border: 3px solid white;
  background-color: white;
  color: white;
}

.scroll-icon {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scrollTop 0.5s alternate ease infinite;
}
@keyframes scrollTop {
  from {
    transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .scroll-to-top {
    right: 1.5  rem;
  }
}