.portfolio-wrapper {
  position: relative;
}
.portfolio-intro {
  z-index: -1;
}

.portfolio-intro-svg {
  position: absolute;
  overflow: visible !important;
  /* z-index: -10; */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
}
.spacer-div1 {
  margin-top: 20rem;
}
.portfolio-intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  font-size: 2.5rem;
  /* gap: 2rem; */
  font-weight: 300;
  height: 100%;
}
.portfolio-intro-text > * + * {
  margin-left: 2rem;
}

/* Title Floating */
.portfolio-floating {
  z-index: 1;
  font-size: 9rem;
  font-weight: 800;
  -webkit-animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
          animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
  margin-top: 22rem;
}
.portfolio-floating-title {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
          animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
.portfolio-floating-title > span {
  -webkit-transition: font-weight 0.4s ease-in;
  -o-transition: font-weight 0.4s ease-in;
  transition: font-weight 0.4s ease-in;
  -webkit-animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
          animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}
.portfolio-floating-title > span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.portfolio-floating-title > span:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.portfolio-floating-title > span:nth-child(3) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.portfolio-floating-title > span:nth-child(4) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.portfolio-floating-title > span:nth-child(5) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.portfolio-floating-title > span:nth-child(6) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.portfolio-floating-title > span:nth-child(7) {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.portfolio-floating-title > span:nth-child(8) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
.portfolio-floating-title > span:nth-child(9) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 5vh);
            transform: translate(0, 5vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes tilting {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@keyframes tilting {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  50% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@-webkit-keyframes floating-secondary {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 1vh);
            transform: translate(0, 1vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes floating-secondary {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 1vh);
            transform: translate(0, 1vh);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.portfolio-spacer-div {
  height: 20rem;
}

/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .spacer-div1 {
    margin-top: 6rem;
  }
  .portfolio-intro-text {
    font-size: 2rem;
  }
  .portfolio-floating {
    z-index: 1;
    font-size: 5rem;
    font-weight: 800;
    -webkit-animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
            animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
    margin-top: 6rem;
  }
  .portfolio-spacer-div {
    height: 6rem;
  }
}

/* Responsive Mobile Small 2 */
@media only screen and (max-width: 384px){
  .portfolio-intro-text {
    font-size: 1.6rem;
  }
  .portfolio-floating {
    font-size: 3.5rem;
    margin-top: 3rem;
  }
}
/* Responsive Mobile Small 2 */
@media only screen and (min-width: 385px) and (max-width: 429px){
  .portfolio-intro-text {
    font-size: 1.6rem;
  }
  .portfolio-floating {
    font-size: 4rem;
    margin-top: 3rem;
  }
}
