.article-detail {
  position: relative;
  margin: 10rem auto;
}

.article-detail_header {
  padding-bottom: 2rem;
}

.article-detail_header a {
  text-decoration: none;
  color: #000;
}

.article-detail_header .article-detail_back{
  display: flex;
}

.article-detail_header .article-detail_back > * + * {
  margin-left: 8px;
}

.article-detail_header .article-detail_back img {
  width: 1.5rem;
  height: auto;
}
/* CONTENT */
.article-detail_content .article-detail_title {
  text-align: center;
  margin: 0 auto 3rem auto;
  font-size: 3rem;
  max-width: 700px;
}

.article-detail_content .article-detail_time {
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  margin: 0 auto 2.5rem;
  margin-top: 8px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: gray;
}

.article-detail_content .article-detail_banner img {
  width: 100%;
  border-radius: 8px;
}

.article-detail_content .article-detail_contentMarkdown {
  max-width: 700px;
  margin: auto;
}


.article-detail_content .article-detail_contentMarkdown p {
  text-align: justify;
  font-size: 18px;
  color: #6b7280;
}

.article-detail_contentMarkdown h3{
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.article-detail_contentMarkdown h4{
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: rgb(6 182 212);
}

.article-detail_contentMarkdown blockquote {
  background-color: #30c85e1a;
  border-left: solid 6px #0cb63f;
  color: #0cb63f;
  margin: 0;
  padding: 10px 20px 5px 20px;
  border-radius: 10px;
}

.article-detail_contentMarkdown blockquote h6 {
  font-size: 21px;
  letter-spacing: .025em;
  margin: 0;
}

.article-detail_contentMarkdown ol {
  color: rgb(168 85 247);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  padding-left: 0;
}

.article-detail_contentMarkdown ol li{
  list-style-position: inside;
}

.article-detail_contentMarkdown h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.article-detail_content .article-detail_contentMarkdown ul {
  list-style: disc;
  font-size: 18px;
  color: #6b7280;
}

.article-detail_content .article-detail_contentMarkdown img {
  width: 100%;
  border-radius: 8px;
}

.article-detail_contentMarkdown .article-detail_tags {
  display: flex;
  align-items: center;
  margin: 4rem 0;
  flex-wrap: wrap;
}

.article-detail_contentMarkdown .article-detail_tag {
  display: inline-block;
  height: 30px;
  padding: 1px 10px 0 10px;
  margin: 0 0 0 20px;
  border-radius: 9px;
  position: relative;
  z-index: 1;
  background: grey;
  font-size: 1rem;
  line-height: 1.7rem;
  color: white;
  font-weight: 300;
}

.article-detail_contentMarkdown .article-detail_tag::before {
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  left: -7px;
  top: 2px;
  border-radius: 9px;
  transform: rotate(45.1deg);
  z-index: -1;
  background: grey;
}

.article-detail_contentMarkdown .article-detail_tag::after {
  content: "";
  display: block;
  background: white;
  height: 8px;
  width: 8px;
  position: absolute;
  left: -5px;
  top: 11px;
  border-radius: 100%;
}

/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .article-detail_content .article-detail_title {
    font-size: 2.25rem;
  }

  .article-detail_content .article-detail_time {
    flex-direction: column;
    align-items: center;
  }

  .article-detail_contentMarkdown .article-detail_tag {
    margin-bottom: 12px;
  }

  .article-detail_contentMarkdown .article-detail_tags span {
    margin-bottom: 12px;
  } 

  .article-detail_contentMarkdown h4{
    font-size: 1.875rem;
  }

  .article-detail_contentMarkdown h6 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .article-detail_contentMarkdown ol {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .article-detail_contentMarkdown h3{
    font-size: 1.875rem;
    line-height: 1.875rem;
  }

  .article-detail_contentMarkdown h4{
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}