.space-div-contact {
  height: 8rem;
}
.div-dark {
  background-color: var(--bg-color-dark);
}
.contact-wrapper {
  background-image: url('../../assets/images/gradient2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: screen;
  z-index: -10;
  overflow-x: hidden;
}
.contact-dark {
  filter: brightness(85%);
}
.contact-wrapper .contact{
  position: relative;
  width: 100%;

}
.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 15rem;
  
}
.contact-title {
  font-size: 6rem;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 2rem;
}
.div-space {
  height: 10rem;
}
.contact-title > text {
  fill: #fff;
  stroke: #fff;
  fill-opacity: 1;
  stroke-width: 0;
  stroke-dasharray: 100% 0;
  animation: stroke-offset 3s ease-out infinite;
}

@keyframes stroke-offset {
  0% {
    fill-opacity: 0;
    stroke-width: 0;
    stroke-dasharray: 0% 100%;
  }
  25% {
    stroke-width: 3px;
  }
  50% {
    fill-opacity: 0;
  }
  75% {
    stroke-width: 3px;
  }
  100% {
    stroke-width: 0;
  }
}
.contact-form-wrapper {
  width: 40%;
  margin: auto;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: var(--form-shadow);
  border-radius: 10px;
  border: var(--form-border);
  width: 100%;
}
.form-light {
  background: var(--form-bg);
}
.form-dark {
  background: var(--form-bg-dark);
  color: white;
}
.contact-form label {
  padding: 0.5rem 0;
  font-size: .875rem;
}
.contact-form > input {
  font-size: 14px;
  filter: brightness(85%);
  box-shadow: var(--input-shadow);
  color: var(--input-text);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
}
.contact-form > textarea {
  font-size: 14px;
  filter: brightness(85%);
  box-shadow: var(--input-shadow);
  color: var(--input-text);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1.5rem;
}
.contact-form > button {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--send-btn);
  cursor: pointer;
  border: none;
}
.contact-form > button:hover {
  filter: brightness(110%);
}
.contact-info {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.contact-icon {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  gap: 1rem;
  align-items: center;
}
.contact-icon .icon {
  position: relative;

  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-light {
  background-color: white;
  color: black;
}
.icon-dark {
  background-color: #172029;

}
.contact-icon .icon-light svg {
  color: black;
}
.contact-icon .icon-dark svg {
  color: white;
}
.contact-icon .icon:hover svg {
  color: white;
}
.contact-icon .tooltip {
  position: absolute;
  font-size: .875rem;
  top: 0;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: white;
  background: black;
}
.contact-icon .tooltip::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contact-icon .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* facebook icon */
.contact-icon .icon-facebook:hover,
.contact-icon .icon-facebook:hover .tooltip,
.contact-icon .icon-facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: white;
}
/* twitter icon */
.contact-icon .icon-twitter:hover,
.contact-icon .icon-twitter:hover .tooltip,
.contact-icon .icon-twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: white;
}
/* instagram icon */
.contact-icon .icon-instagram:hover,
.contact-icon .icon-instagram:hover .tooltip,
.contact-icon .icon-instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: white;
}
/* github icon */
.contact-icon .icon-github:hover,
.contact-icon .icon-github:hover .tooltip,
.contact-icon .icon-github:hover .tooltip::before {
  background-color: #333333;
  color: white;
}
/* linkedin icon */
.contact-icon .icon-linkedin:hover,
.contact-icon .icon-linkedin:hover .tooltip,
.contact-icon .icon-linkedin:hover .tooltip::before {
  background-color: #3755ff;
  color: white;
}