.nav-wrapper {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 0rem 15rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1; 
}
.scrolling_light {
  background: var(--nav-color-main);
}
.scrolling_dark {
  background: var(--nav-color-dark);
  z-index: 1;
}

.nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.nav-name > a{
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.nav-list {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
}
.nav-list>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4rem;
  list-style: none;
  color: white;
  gap: 4rem;
}

.nav-list > ul > li > a:hover {
  cursor: pointer;
  color: var(--navbar-color);
}
.nav-list > ul > li > a {
  text-decoration: none;
  color: white;
}
/* Animation hover li */
.underlined {
  position: relative;
}
.underlined::after {
  content: "";
  background: var(--navbar-color);
  height: 2px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  -o-transition: transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  left: 0;
  bottom: -1px;
  width: 100%;
  display: block;
  position: absolute;
}
.underlined:hover::after {
  background-color: var(--navbar-color);
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.btn-toogle, .btn-toogle-dark {
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
  transition: 0.5s;
}
.btn-toogle:hover {
  transform: rotate(90deg);
}
.btn-toogle-dark:hover {
  transform: rotate(180deg);
}
.btn-toogle-dark > img {
  width: 2rem;
}
.btn-toogle:hover, .btn-toogle-dark:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* Menu mobile */
.menu-mobile {
  display: none;
}
.menu {
  display: block;
}

/* Stripe Background */
.stripes {
  position: absolute;
  width: 100%;
  height: 830px;
  top: 0;
  left: 0;
  /* z-index: -10; */
  overflow: hidden;
  -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: skewY(-12deg);
      -ms-transform: skewY(-12deg);
          transform: skewY(-12deg);
}
.theme-light {
  background: var(--nav-color-main) !important;
}
.theme-dark {
  background: var(--nav-color-dark) !important;
}
.nav-hamburger {
  display: none;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .nav-hamburger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition-duration: 0.5s;
  }
  /* Line 2 */
  .nav-hamburger .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    background-color: whitesmoke;
    left: 0px;
    margin: 0;
  }
  /* Line 1 */
  .nav-hamburger .icon-left::before, .nav-hamburger .icon-right::before {
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: whitesmoke;
    content: "";
    top: -10px;
  }
  /* Line 3 */
  .nav-hamburger .icon-left::after, .nav-hamburger .icon-right::after {
    transition-duration: 0.5s;
    position: absolute;
    width: 15px;
    height: 4px;
    background-color: whitesmoke;
    content: "";
    top: 10px;
  }
  .nav-hamburger .icon-left:hover {
    cursor: pointer;
  }
  .nav-hamburger .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 4px;
    width: 15px;
    background-color: whitesmoke;
    left: 15px;
    margin: 0;
    padding: 0;
  }
  .openMenu .icon-left, .openMenu .icon-right {
    transition-duration: 0.5s;
    background: transparent;
  }
  .openMenu .icon-left::before {
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
  }
  .openMenu .icon-left::after {
    transform: rotateZ(-45deg) scaleX(1.3) translate(2px, -2px);
  }
  .openMenu .icon-right::before {
    transform: rotateZ(-45deg) scaleX(1.3) translate(-2px, 2px);
  }
  .openMenu .icon-right::after {
    transform: rotateZ(45deg) scaleX(1.5) translate(-2px, -2px);
  }
  .openMenu:hover {
    cursor: pointer;
  }
  .nav-list {
    display: none;
  }
  .nav-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    color: var(--navbar-color);
    background-color: #46c1f6;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    overflow-y: hidden;
  }
  .nav-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    padding-top: 5rem;
  }
  .nav-mobile > ul > li > a {
    text-decoration: none;
    color: white;
  }
  .nav-mobile-active {
    transform: translateX(0);
  }
}
/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .nav-wrapper {
    padding: 0rem 2rem;
  }
  .btn-toogle, .btn-toogle-dark {
    width: 40px;
    height: 40px;
  }
  .nav-toogle {
    padding: 0.5rem 0;
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .nav-wrapper {
    padding: 0rem 4rem;
  }
  .nav-mobile {
    padding-left: 2rem;
  }
  .stripes {
    height: 740px;
    -webkit-transform: skewY(-16deg);
        -ms-transform: skewY(-16deg);
            transform: skewY(-16deg);
  }
}
/* Responsive Macbook 13inch */
@media only screen and (min-width: 1201px) and (max-width: 1300px){
  .stripes {
    height: 740px;
    -webkit-transform: skewY(-14deg);
        -ms-transform: skewY(-14deg);
            transform: skewY(-14deg);
  }
}
/* Responsive Tablet Mini 2*/
@media only screen and (min-width: 740px) and (max-width: 889px){
  .stripes {
    height: 950px;
    -webkit-transform: skewY(-16deg);
        -ms-transform: skewY(-16deg);
            transform: skewY(-16deg);
  }
}

/* Responsive Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px){
  .nav-wrapper {
    padding: 0rem 10rem;
  }
}