.footer-wrapper {
  width: 100%;
  position: relative;
}
.footer-dark {
  background-color: #172029;
  color: white;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  line-height: 1rem;
  padding: 0.5rem 0;
}
.footer p {
  margin: 0;
}