.mySkills {
  -webkit-transition: opacity 1s, -webkit-transform 2s;
  transition: opacity 1s, -webkit-transform 2s;
  -o-transition: transform 2s, opacity 1s;
  transition: transform 2s, opacity 1s;
  transition: transform 2s, opacity 1s, -webkit-transform 2s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.eclipse {
  position: absolute;
  right: -45%;
  top: 10%;
  -webkit-animation: blob-float 6s ease-in-out 1s infinite alternate;
          animation: blob-float 6s ease-in-out 1s infinite alternate;
}
@-webkit-keyframes blob-float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    -webkit-filter: hue-rotate(45deg);
            filter: hue-rotate(45deg);
  }
}
@keyframes blob-float {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
  }
  100% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    -webkit-filter: hue-rotate(45deg);
            filter: hue-rotate(45deg);
  }
}

.skill-title, .skill-title-dark {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 3.75rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.skill-title-dark {
  color: #7bf0ff;
}

/* Skill List */
.skill-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 1.25rem minmax(0, 1fr) 1.25rem minmax(0, 1fr) 1.25rem minmax(0, 1fr) 1.25rem minmax(0, 1fr) 1.25rem minmax(0, 1fr) 1.25rem minmax(0, 1fr);
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 1.25rem;
  margin-bottom: 2rem;
  height: 100%;
}
.skill-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 1fr) 1rem minmax(0, 1fr) 1rem minmax(0, 1fr);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  -ms-grid-column-span: 3;
  grid-column: span 3/span 3;
  /* row-gap: 2.5rem; */
}
.skill-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.skill-card-light {
  border: var(--skill-border);
  background: var(--skill-bg);
  -webkit-box-shadow: var(--skill-shadow);
          box-shadow: var(--skill-shadow);
}
.skill-card-dark {
  border: var(--skill-border-dark);
  background: var(--skill-bg-dark);
  -webkit-box-shadow: var(--skill-shadow-dark);
          box-shadow: var(--skill-shadow-dark);
  color: white;
}

.skill-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skill-card-light:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
.skill-card-dark:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
.skill-card .card img {
  width: 4rem;
  height: 4rem;
}
.skill-card .card p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* Abilities */
.abilities-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-span: 4;
  grid-column: span 4/span 4; /* get 4 columns of 7 cols */
  margin-top: 0;
  list-style: none;
  gap: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ability-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
.ability-card-light {
  background: var(--ability-bg);
  -webkit-box-shadow: var(--ability-shadow);
          box-shadow: var(--ability-shadow);
  border: var(--ability-border);
}
.ability-card-dark {
  background: var(--ability-bg-dark);
  -webkit-box-shadow: var(--ability-shadow-dark);
          box-shadow: var(--ability-shadow-dark);
  border: var(--ability-border-dark);
  color: white;
}
.ability-card-light:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
.ability-card-dark:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}
/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .mySkills {
    margin-top: 2rem;
  }
  .skill-title, .skill-title-dark {
    font-size: 2rem;
  }
  .skill-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .skill-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-span: 5;
    grid-column: span 5/span 5;
    gap: 0.5rem;
  }
  .skill-card .card p {
    font-size: .875rem;
    margin-bottom: 0;
  }
  .abilities-wrapper {
    -ms-grid-column-span: 5;
    grid-column: span 5/span 5;
    padding: 0;
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .skill-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .skill-cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0,1fr) 0.5rem minmax(0,1fr);
    grid-template-columns: repeat(2,minmax(0,1fr));
    -ms-grid-column-span: 2;
    grid-column: span 2/span 2;
    gap: 0.5rem;
  }
  .abilities-wrapper {
    -ms-grid-column-span: 3;
    grid-column: span 3/span 3;
    padding: 0;
  }
}
