.mySkills {
  transition: transform 2s, opacity 1s;
  height: fit-content;
  position: relative;
  z-index: 1;
}
.eclipse {
  position: absolute;
  right: -45%;
  top: 10%;
  animation: blob-float 6s ease-in-out 1s infinite alternate;
}
@keyframes blob-float {
  0% {
    transform: translateY(0);
    transform: translateX(0);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(-20%);
    transform: translateX(20%);
  }
  100% {
    transform: translateY(20%);
    transform: translateX(-20%);
    filter: hue-rotate(45deg);
  }
}

.skill-title, .skill-title-dark {
  display: inline-flex;
  font-size: 3.75rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.skill-title-dark {
  color: #7bf0ff;
}

/* Skill List */
.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 1.25rem;
  margin-bottom: 2rem;
  height: 100%;
}
.skill-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  grid-column: span 3/span 3;
  /* row-gap: 2.5rem; */
}
.skill-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
.skill-card-light {
  border: var(--skill-border);
  background: var(--skill-bg);
  box-shadow: var(--skill-shadow);
}
.skill-card-dark {
  border: var(--skill-border-dark);
  background: var(--skill-bg-dark);
  box-shadow: var(--skill-shadow-dark);
  color: white;
}

.skill-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill-card-light:hover {
  filter: brightness(85%);
}
.skill-card-dark:hover {
  filter: brightness(120%);
}
.skill-card .card img {
  width: 4rem;
  height: 4rem;
}
.skill-card .card p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* Abilities */
.abilities-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: span 4/span 4; /* get 4 columns of 7 cols */
  margin-top: 0;
  list-style: none;
  gap: 1rem;
  box-sizing: border-box;
}
.ability-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}
.ability-card-light {
  background: var(--ability-bg);
  box-shadow: var(--ability-shadow);
  border: var(--ability-border);
}
.ability-card-dark {
  background: var(--ability-bg-dark);
  box-shadow: var(--ability-shadow-dark);
  border: var(--ability-border-dark);
  color: white;
}
.ability-card-light:hover {
  filter: brightness(85%);
}
.ability-card-dark:hover {
  filter: brightness(120%);
}
/* Responsive Mobile */
@media only screen and (max-width: 739px){
  .mySkills {
    margin-top: 2rem;
  }
  .skill-title, .skill-title-dark {
    font-size: 2rem;
  }
  .skill-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .skill-cards {
    display: grid;
    grid-column: span 5/span 5;
    gap: 0.5rem;
  }
  .skill-card .card p {
    font-size: .875rem;
    margin-bottom: 0;
  }
  .abilities-wrapper {
    grid-column: span 5/span 5;
    padding: 0;
  }
}
/* Responsive Tablet */
@media only screen and (min-width: 740px) and (max-width: 1200px){
  .skill-wrapper {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .skill-cards {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-column: span 2/span 2;
    gap: 0.5rem;
  }
  .abilities-wrapper {
    grid-column: span 3/span 3;
    padding: 0;
  }
}