:root {
  --name: #8affad;
  --nav-color-main: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
  --nav-first-child: #4c29ff;
  --navbar-color: #2be7ff;
  --nav-second-child: #2be7ff;
  --nav-third-child: #a1ffc8;
  --button: linear-gradient(150deg,#8affad 15%,#1c45fa 70%,#0fd7e6 94%);
  --myself-card-bg: hsla(0,0%,100%,.375);
  --myself-card-shadow: #0000001a;
  --myself-card-border: #ffffff40;
  --card-back-bg: #ffffff40;
  --card-container-bg: #ffffff40;
  --card-shadow: 0 4px 8px 0 #00000040;
  --skill-border: 1px solid #fff3;
  --skill-bg: hsla(0,0%,100%,.527);
  --skill-shadow: #00000026 0px 5px 15px 0px;
  --ability-bg: hsla(0,0%,100%,.375);
  --ability-border: 1px solid rgba(41,41,41,.041);
  --ability-shadow: 0 0.75rem 2rem 0 #7272721a;
  --external-btn-border: #0000004d;
  --form-bg: linear-gradient(-45deg,hsla(0,0%,100%,.137),hsla(0,0%,100%,.603));
  --form-shadow: 0 8px 32px 0 #1f26875e;
  --form-border: 1px solid #ffffff2e;
  --input-shadow: 4px 4px 60px #fff3;
  --input-text: #2b2b2b;
  --send-btn: #245edb;
  /* Dark theme */
  --nav-color-dark: linear-gradient(150deg,#16027c 15%,#04accee3 70%,#669b7c 94%);
  --bg-color-dark: #172029;
  --myself-card-bg-dark: #0003;
  --myself-card-shadow-dark: #bdbdbd1a;
  --myself-card-border-dark: rgba(0,0,0,.247);
  --skill-border-dark: 1px solid rgba(34,34,34,.082);
  --skill-bg-dark: rgba(0,0,0,.274);
  --skill-shadow-dark: 0 15px 35px hsla(0,0%,65%,.171);
  --ability-bg-dark: rgba(0,0,0,.377);
  --ability-border-dark: 1px solid rgba(43,43,43,.125);
  --ability-shadow-dark: 0 0.75rem 2rem 0 #0000001a;
  --form-bg-dark: linear-gradient(-45deg,#0000001a,#0006); ;
}
body {
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}
.App {
  padding: 0.5rem 15rem;
  overflow: hidden;
  color: black;
  position: relative;
}
.app-theme-dark {
  background-color: var(--bg-color-dark);
}

.button {
  font-family: "Gumela";
  border-radius: 34px;
  border: 3px solid white;
  color: white;
  font-size: 16px;
  padding: 11px 26px;
  background: transparent;
  transition: 0.3s;
}
.button::after {
  transition: 0.3s;
  height: 3px;
  z-index: 10;
  backface-visibility: hidden;
  background-color: white;
}
.button::after {
  height: 120%;
  left: -10%;
  transform: skewX(15deg);
  z-index: -1;
}
.button:hover::after {
  width: 100%;
  left: 0;
}

.button:hover {
  cursor: pointer;
  color: black;
}
/* .stripes {
  position: absolute;
  width: 100%;
  height: 830px;
  top: 0;
  left: 0;
  z-index: -10;
  overflow: hidden;
  transform-origin: 0;
  transform: skewY(-12deg);
}
.theme-light {
  background: var(--nav-color-main) ;
} */
